body{
  overflow-x: hidden;
}

p{
  letter-spacing: .1rem;
}

.flex-row {
  display: flex;
  justify-content: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

button {
  margin: .6rem 0;
}

.icon {
  font-size: 16rem;
  padding: 8rem 0;
  transition: .2s ease;
}

.red-btn {
  background: red;
}

[name="skull"] {
  color: #1eaedb;
  transition: 3s ease;
}

.mw-count {
  border-radius: 4px;
  box-shadow: 2px 2px 6px lightsalmon;
  font-size: 2rem;
  padding: .4rem;
  margin: 0 0 .8rem;
  width: 6rem;
  text-align: center;
}

.exam-count {
  padding: .4rem;
  border-radius: 4px;
  box-shadow: 1px 1px 4px lightsalmon;
  font-size: 2rem;
  padding: .4rem;
  margin: 0 .8rem .8rem;
  width: 6rem;
  align-content: center;
  text-align: center;
}

.container,
.row{
  transition: .6s ease;
}

.row-two {
  transition: .6s ease;
}

.hidden {
  opacity: 0;
  transform: translateY(-4vh);
  transition: .4s ease;
}

.therapy-modal{
  height: 90vh;
  background: cyan;
  position: absolute;
  box-shadow: 2px 2px 6px lightsalmon;
  width: 30vw;
  z-index: 1;
  transition: .6s ease;
}

.player-box{
  transition: .6s ease;
}

.array-box{
  height: 1.8rem;
  max-width: 50vw;
  width: fit-content;
  display: flex;
  flex-flow: row wrap;
  border-radius: 9px;
  border-top-left-radius: 0;
  box-shadow: 1px 1px 4px #DB1EAE;
  padding: .2rem .6rem;
  transition: .3s ease;

}
